.online-friends-list {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}


.online-friend-card {
    display: flex;
    justify-content: space-between;
    align-items: start;

    border: 1px solid #e9ecef;
    border-radius: 12px;

    padding: 12px;

    font-size: 15px;
}

.online-friend-card-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.online-friend-card-username {
    color: #adb5bd;
    font-style: italic;
}

.online-friend-card-firstname {
    font-weight: 600;
}

.online-friend-card-sent-at {
    color: #adb5bd;
    font-size: 11px;
}

.online-friend-card-functions {
    display: flex;
    align-self: center;
    gap: 10px;
}

.online-friend-card-remove {
    background-color: #f8f9fa;
    border: none;
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.2s;
}

.online-friend-card-remove:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateX(2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}